In [69]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\santh\anaconda3\lib\site-packages (9.6.0)

In [70]:
import mysql.connector

In [71]:
import pandas as pd

In [72]:
df=pd.read_csv('customer_shopping_behavior.csv')

In [73]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [75]:
#describe- by default gives summary status of numerical columns if you want to include string then ass include= all

In [76]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [77]:
#To check missing values use null

In [78]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [79]:
# we need to fill the entire rating with median of overall rating, because it is robust to outliers than mean

In [80]:
# but it is not a good practice clothing rating can be entirely different from footwear category and entirely different from bag category

In [81]:
# what we are gonna do is if a rating item clothing item get missed we replace with it clothing item not every item

In [82]:
df['Review Rating']=df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [83]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [84]:
#transform() performs a group-wise operation but keeps the original row structure.

In [85]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df=df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [86]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [87]:
 #create a column Age group

In [88]:
# ðŸ”µ Why Do We Use qcut()?

# ðŸ‘‰ To divide data into equal-sized groups.

# Thatâ€™s it.

# ðŸŽ¯ Real Reason in Data Analysis

# Sometimes companies donâ€™t care about exact age ranges.

# They care about:

# Top 25% customers

# Bottom 25% customers

# Middle customers

# So we divide people equally.

In [89]:
labels=['Youngadult','Adult','Middle-Aged','Senior']
df['age_group']=pd.qcut(df['age'],q=4, labels=labels)

In [90]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle-Aged
1   19   Youngadult
2   50  Middle-Aged
3   21   Youngadult
4   45  Middle-Aged
5   46  Middle-Aged
6   63       Senior
7   27   Youngadult
8   26   Youngadult
9   57  Middle-Aged

In [91]:
#lables-  Use these names for the groups instead of numeric ranges

In [92]:
#Create Columns purchase_frequency_days

In [93]:
# Mapping purchase frequency categories to equivalent number of days
# Models cannot understand text like "Weekly"

# Numeric values are easier for analysis

# Helps in calculations (average purchase gap, etc.)

In [94]:
Frequency_mapping={
    'Fortnightly':14,
    'Weekly':7,
    'Monthly': 30,
    'Quarterly':90,
    'Bi-weekly':14,
    'Annually': 365,
    'Every 3 months': 90
}
df['purchase_frequency_days']=df['frequency_of_purchases'].map(Frequency_mapping)

In [95]:

df[['purchase_frequency_days', 'frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                     14.0            Fortnightly
1                     14.0            Fortnightly
2                      7.0                 Weekly
3                      7.0                 Weekly
4                    365.0               Annually
5                      7.0                 Weekly
6                     90.0              Quarterly
7                      7.0                 Weekly
8                    365.0               Annually
9                     90.0              Quarterly

In [96]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [97]:
(df['discount_applied']==df['promo_code_used']).all()

np.True_

In [98]:
#here we have discount_applied and promo_code_used both are same

In [99]:
#so any only one column is required  so we drop promo_code_used

In [100]:
df=df.drop('promo_code_used',axis=1)

In [101]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [102]:
# here if we use without axis by default it will check for rows if we want to remove columns then axis=1 is needed

In [103]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binaryNote: you may need to restart the kernel to use updated packages.

  Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: sqlalchemy in c:\users\santh\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\santh\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\santh\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   --------------------------- ------------ 1.8/2.7 MB 11.5 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 10.4 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11

In [106]:
from sqlalchemy import create_engine  # Import function to create database connection

#step1: Connect to PostgreSql
host="localhost"  # Database server location (localhost = your machine)
database="customer_behaviour"
username="postgres"
password="santhra"
port="5432"

# This creates a connection object using:
# PostgreSQL database + psycopg2 driver
engine=create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

table_name="customer"
df.to_sql(table_name, engine, if_exists="replace", index=False)

# If table exists, delete and recreate
print(f"Data Successfully loaded into table '{table_name}'in database '{database}'.")

Data Successfully loaded into table 'customer'in database 'customer_behaviour'.